<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<div th:align="center">
  <h1>User details</h1>
  <div>
    <table th:border="2" th:cellpadding="15">
      <thead>
      <tr>
        <th></th>
        <th>User</th>
      </tr>
      <tr>
        <td>Id</td>
        <td th:utext="${user.getId()}">Id</td>
      </tr>
      <tr>
        <td>First Name</td>
        <td th:utext="${user.getUsername()}">Name</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td th:utext="${user.getLastname()}">Last Name</td>
      </tr>
      <tr>
        <td>Age</td>
        <td th:utext="${user.getAge()}">Age</td>
      </tr>

    </table>
  </div>
  <br/>
  <h4>Assigned roles:</h4>
  <table>
    <tr th:each="role : ${user.getRoles()}">
      <td th:utext="${#strings.substringAfter(role.getRoleName(), 'ROLE_')}"></td>
    </tr>
  </table>
  <br/>
  </form>
  <br/>
  <form th:method="POST" th:action="@{/logout}">
    <button type="submit">Log Out</button>
  </form>
</div>
</body>
</html>